{% if page.math %}
  {% for js in layout.math-js %}
    <script src="/assets/js/{{ js }}"></script>
  {% endfor %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      renderMathInElement(document.body, {
        delimiters: [
          { left: '$$', right: '$$', display: true },
          { left: '\\[', right: '\\]', display: true },
          { left: '$', right: '$', display: false },
          { left: '\\(', right: '\\)', display: false }
        ]
      });
      document
        .querySelectorAll("script[type='math/tex; mode=display']")
        .forEach(function(el) {
          el.outerHTML = katex.renderToString(
            el.textContent.replace(/%.*/g, ''),
            { displayMode: true }
          );
        });
    });
  </script>
{% endif %}


