{% if page.math %} {% for js in layout.math-js %}
<script src="/assets/js/{{ js }}"></script>
{% endfor %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "\\[", right: "\\]", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false },
      ],
    });
    document
      .querySelectorAll("script[type='math/tex; mode=display']")
      .forEach(function (el) {
        el.outerHTML = katex.renderToString(
          el.textContent.replace(/%.*/g, ""),
          { displayMode: true }
        );
      });
  });
</script>
{% endif %} {% if page.code %}
<script src="/assets/js/prism.js"></script>
<script src="/assets/js/prism-python.js"></script>
<script src="/assets/js/prism-normalize-whitespace.min.js"></script>
<script type="text/javascript" src="/assets/js/myprism.js"></script>
{% endif %}
