code::before {
  content: unset !important;
}

code::after {
  content: unset !important;
}

img[alt~="cc-by-sa-4"] {
  float: right;
  border-width: 1px;
}

h5, h6 {
  font-weight: 500;
}

img[alt~="orig"] {
  height: initial;
  width: initial;
}
