---
---

@import "node_modules/@fontsource/fira-sans";
@import "node_modules/@fontsource/fira-code";
@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip .tooltip-text {
  font-size: small;
  color: white;
  background: teal;
  visibility: hidden;
  white-space: nowrap;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
.prose a,
aside a {
  text-decoration: none;
  color: teal;
}
.prose a:hover,
aside a:hover {
  text-decoration: underline;
}
.cvlink {
  margin-left: 1rem;
}
