<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width" />
  <title>Index</title>
  <link rel="stylesheet"
        type="text/css"
        href="/assets/slides/css/apron.css">
  </style>
  <link rel="stylesheet"
        type="text/css"
        href="/assets/slides/css/descartes.css">
  </style>
  <link rel="stylesheet"
        type="text/css"
        href="/assets/slides/css/adirondack.css">
  </style>
  <style type="text/css">
    @page {
      size: 1216px 684px;
      margin: 0;
    }
  </style>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i|Quattrocento:400,700|Spectral:400,400i,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css"
        integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.js"
          integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq"
          crossorigin="anonymous"></script>
  <script src="/assets/slides/js/auto-render.min.js"></script>
  <script src="/assets/slides/js/abcjs_basic_5.6.3-min.js"></script>
  <script src="/assets/slides/js/story.js"></script>
</head>

<body class="ma0 bg-white section-slides page-kind-page is-page-true  feature-math feature-qrcode feature-nohighlight feature-music">

  <main role="main">
    <textarea id="source">
      {{content}}
    </textarea>
  </main>

  <script type="text/javascript"
          src="/assets/slides/js/qrcode.js"></script>
  <script src="/assets/slides/js/remark.js"></script>
  <script>
    var slideshow = remark.create({
      ratio: "16:9",
      navigation: {
        scroll: false
      },
      countIncrementalSlides: false,
      slideNumberFormat: '%current%',
      highlightLanguage: "xaprb",
      placeholder: "dummy value to end the list without a comma"
    });

    $(".remark-slide-content.fit-h1 h1").each(function(i, e) {
      var $e = $(e);
      var $p = $e.closest('div.remark-slide-container');
      var needsToggle = !$p.hasClass('remark-visible');
      if (needsToggle) $p.toggleClass('remark-visible');
      while (e.scrollHeight > e.clientHeight + 1 && $e.css('font-size') != '1px') {
        $e.css('font-size', (parseInt($e.css('font-size')) - 1) + "px");


      }
      if (needsToggle) $p.toggleClass('remark-visible');
    });

    $(function() {
      if ($("body.feature-qrcode:not(.feature-noqrcode)").length) {
        if ($(".qrcode").length) {
          new QRCode($(".qrcode")[0], {
            "useSVG": true,
            "text": window.location.href.replace(/#\d*$/, "")
          });
        }
      }
    });
  </script>


  </main>

</body>

</html>
